@import "@blueprintjs/core/lib/scss/variables";

.primary {
  color: $pt-intent-primary;
}
.primary-dark {
  color: $blue2;
}
.primary-light {
  color: $blue5;
}
.warning{
  color: $pt-intent-warning;
}
.success{
  color: $pt-intent-success;
}
.danger{
  color: $pt-intent-danger;
}

.red1 {
  color: $red1
}
.red2 {
  color: $red2
}
.red3 {
  color: $red3
}
.red4 {
  color: $red4
}
.red5 {
  color: $red5
}

.blue1 {
  color: $blue1
}
.blue2 {
  color: $blue2
}
.blue3 {
  color: $blue3
}
.blue4 {
  color: $blue4
}
.blue5 {
  color: $blue5
}

.gray1 {
  color: $gray1
}
.gray2 {
  color: $gray2
}
.gray3 {
  color: $gray3
}
.gray4 {
  color: $gray4
}
.gray5 {
  color: $gray5
}

