---

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - clang-analyzer-*
      - bugprone-*
      - misc-*
      - cppcoreguidelines-*
      - performance-*
      - readability-*
      - google-explicit-constructor
      - bugprone-exception-escape

    Remove:
      - bugprone-narrowing-conversions
      - bugprone-easily-swappable-parameters
      - bugprone-reserved-identifier
      - bugprone-unchecked-optional-access
      - bugprone-macro-parentheses
      - bugprone-unused-return-value
      - misc-non-private-member-variables-in-classes
      - misc-no-recursion
      - misc-use-anonymous-namespace
      - misc-unused-parameters
      - cppcoreguidelines-prefer-member-initializer
      - cppcoreguidelines-avoid-c-arrays
      - cppcoreguidelines-pro-type-vararg
      - cppcoreguidelines-pro-bounds-array-to-pointer-decay
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-narrowing-conversions
      - cppcoreguidelines-macro-usage
      - cppcoreguidelines-owning-memory
      - cppcoreguidelines-avoid-const-or-ref-data-members
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-avoid-non-const-global-variables
      - cppcoreguidelines-non-private-member-variables-in-classes
      - cppcoreguidelines-pro-type-static-cast-downcast
      - cppcoreguidelines-pro-type-const-cast
      - cppcoreguidelines-pro-bounds-constant-array-index
      - cppcoreguidelines-pro-type-reinterpret-cast
      - cppcoreguidelines-pro-type-union-access
      - cppcoreguidelines-avoid-goto
      - cppcoreguidelines-pro-type-cstyle-cast
      - cppcoreguidelines-no-malloc
      - modernize-use-auto
      - modernize-use-equals-default
      - modernize-pass-by-value
      - modernize-return-braced-init-list
      - modernize-deprecated-headers
      - modernize-use-nodiscard
      - readability-avoid-return-with-void-value
      - readability-else-after-return
      - readability-magic-numbers
      - readability-named-parameter
      - readability-identifier-length
      - readability-uppercase-literal-suffix
      - readability-implicit-bool-conversion
      - readability-function-cognitive-complexity
      - readability-use-anyofallof
      - readability-simplify-boolean-expr
      - readability-convert-member-functions-to-static
      - readability-static-accessed-through-instance
      - readability-make-member-function-const
      - readability-function-size
      - readability-math-missing-parentheses
      - performance-no-int-to-ptr
      - performance-enum-size
      - performance-avoid-endl

InlayHints:
  Enabled: True
  ParameterNames: False
  DeducedTypes: True
Index:
  StandardLibrary: Yes
  Background: Build
Hover:
  ShowAKA: True
CompileFlags:
  Add: [
    -I/turing/tools/include
  ]



...
