stages:
  - build

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always

build-job:
  stage: build
  script:
    - source /turing/setup.sh
    - make -j4
    - make test
  artifacts:
    when: always
    paths:
      - unit_tests.xml
    reports:
      junit: unit_tests.xml

