.cache/
compile_commands.json
*.swp
.env
external/dependencies/
build/
turingdb.out
__pycache__
*.pyc
node_modules
python/turingdb/_version.py
python/turingdb/_binary/*.so
python/turingdb/_binary/*.pyd
python/turingdb/_binary/*.dylib
*.whl
wheel/
dist
external/datasets/reactome.jsonl
fuzz_results
build_afl
