.cache/
.clangd
.clang-format
compile_commands.json
*.swp
.env
external/dependencies/
build/
turingdb.out
__pycache__
*.pyc
node_modules
python/turingdb/_version.py
python/turingdb/_binary/*.so
python/turingdb/_binary/*.pyd
python/turingdb/_binary/*.dylib
python/turingdb/_embedded/*.so
python/turingdb/_embedded/*.pyd
python/turingdb/_embedded/*.dylib
wasm/npm/turing_wasm_decoder.mjs
wasm/npm/turing_wasm_decoder.wasm
*.whl
wheel/
dist
/npm/
/emsdk/
external/datasets/reactome.jsonl
fuzz_results
build_afl
