[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/minio-cpp"]
	path = external/minio-cpp
	url = https://github.com/turing-db/minio-cpp.git
