[submodule "external/aws-sdk-cpp"]
	path = external/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
[submodule "common"]
	path = common
	url = https://github.com/turing-db/turing-common.git
[submodule "external/faiss"]
	path = external/faiss
	url = git@github.com:facebookresearch/faiss.git
