build-job:
  stage: build
  script:
    - source /turing/setup.sh
    - make -j4

unit-tests:
  stage: test
  script:
    - GTEST_OUTPUT="xml:$(pwd)/unit_tests.xml" make test
  artifacts:
    when: always
    paths:
      - unit_tests.xml
    reports:
      junit: unit_tests.xml
