default:
  image: 799170964164.dkr.ecr.eu-west-2.amazonaws.com/turing@sha256:251bb1ec0b4af885c1911369abba202cd56f4788625f918aad9489c1d6a8cc01

stages:
  - build

build-job:
  stage: build
  script:
    - source /turing/setup.sh
    - make -j4
    - make test
    - release/check_python.sh
  artifacts:
    when: always
    paths:
      - unit_tests.xml
    reports:
      junit: unit_tests.xml

