default:
  image: 799170964164.dkr.ecr.eu-west-2.amazonaws.com/turing@sha256:a9eb1fd53b241161ad208951a5eecbec9974e8c0e940cb567788589bb0d4968b

stages:
  - build

build-job:
  stage: build
  script:
    - source /turing/setup.sh
    - make -j4
    - make test
    - release/check_python.sh
  artifacts:
    when: always
    paths:
      - unit_tests.xml
    reports:
      junit: unit_tests.xml

