default:
  image: 799170964164.dkr.ecr.eu-west-2.amazonaws.com/turing:latest

stages:
  - build

build-job:
  tags:
    - docker
  stage: build
  script:
    - source /turing/setup.sh
    - make -j4
    - make test
    - release/check_python.sh
  artifacts:
    when: always
    paths:
      - unit_tests.xml
    reports:
      junit: unit_tests.xml

