.bp5-button::before,
.bp5-button > * {
  margin-right: 0;
}

.bp5-button-group:not(.bp5-minimal) > .bp5-popover-wrapper:not(:last-child) .bp5-button,
.bp5-button-group:not(.bp5-minimal) > .bp5-button:not(:last-child) {
  margin-right: 0;
}

.bp5-overlay-start-focus-trap {
  @apply focus:outline-none;
}

.bp5-overlay {
  @apply z-[200];
}

.bp5-overlay-backdrop {
  @apply bg-grey-900/50;
}
