@tailwind components;

@layer components {
  /* button */

  .bp5-dark .app-button,
  .bp5-dark .app-select .bp5-button {
    @apply px-2 py-[0.3125rem];
    @apply rounded-[0.125rem];
    @apply text-sm font-medium leading-[1.43] !text-content-secondary;
    @apply inline-flex items-center;
    @apply gap-x-2;
    @apply !bg-grey-800 hover:!bg-grey-700 active:!bg-grey-600;
    @apply relative transition-colors;
    @apply min-h-[2rem];

    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid #1f232b;

    box-shadow:
      0px 0px 0px 1px rgba(0, 0, 0, 0.76),
      0px 1px 2px 0px rgba(43, 49, 60, 0.24) !important;
  }

  .bp5-dark .app-button.is-borderless {
    @apply !border-0 !shadow-none;
  }

  .bp5-dark .app-button:focus,
  .bp5-dark .app-select .bp5-button:focus,
  .bp5-dark .app-button.is-borderless:focus {
    box-shadow: 0px 0px 0px 2px rgba(103, 156, 255, 0.4) !important;
    outline: none;
  }

  .bp5-dark .app-button.is-disabled,
  .bp5-dark .app-select .bp5-button.is-disabled {
    @apply !bg-transparent !text-content-fourth opacity-50;

    border-color: transparent !important;
  }

  .bp5-dark .app-button .bp5-icon,
  .bp5-dark .app-select .bp5-button .bp5-icon {
    @apply !text-inherit;
  }

  .bp5-dark .bp5-popover-open .app-button,
  .bp5-dark .bp5-popover-open .app-icon-button {
    @apply !bg-grey-600;
  }

  /* button group */

  .bp5-button-group.app-button-group .app-button {
    @apply my-1 !rounded-sm border-r border-grey-700 first:ml-1 last:mr-1;
    @apply !h-[1.5rem] !min-h-[1.5rem] !w-[1.5rem] !min-w-[1.5rem];

    box-shadow: none !important;
    border: none;
    border-radius: 0.06rem;
  }

  .bp5-button-group.app-button-group {
    @apply relative gap-[9px] rounded-[0.125rem] border border-grey-700
    !bg-grey-800;

    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0) 100%
    );

    box-shadow:
      0px 0px 0px 1px rgba(0, 0, 0, 0.76),
      0px 1px 2px 0px rgba(43, 49, 60, 0.24);
  }

  .bp5-button-group.app-button-group hr {
    @apply h-full w-[0.0625rem] border-0 bg-grey-700;
  }

  .bp5-button-group.app-button-group .app-button::after {
    @apply absolute -right-[0.313rem] bottom-[0.1875rem] top-[0.1875rem] w-[0.0625rem] bg-grey-700;
    content: '';
  }

  .bp5-button-group.app-button-group .app-button:last-child::after {
    content: none;
  }

  /* link button */

  .bp5-dark .bp5-button.app-link-button {
    @apply min-h-0 rounded-none bg-transparent p-0 shadow-none;
    @apply text-xs font-medium leading-[1.5] tracking-[0.06em] text-primary-default;
    @apply hover:bg-transparent hover:text-primary-700 hover:shadow-none;
    @apply active:bg-transparent active:text-primary-800 active:shadow-none;
    @apply gap-x-1 transition-colors;
  }

  .bp5-dark .bp5-button.app-link-button:focus {
    @apply outline-none;

    box-shadow: 0px 0px 0px 2px rgba(103, 156, 255, 0.4);
  }

  .bp5-dark .app-button.is-highlighted {
    box-shadow: 0px 0px 24px 1px rgb(103 156 255 / 20%) !important;
  }

  .bp5-dark .app-button.is-highlighted::before {
    @apply absolute inset-0;

    content: '';
    box-shadow: 0px 0px 12px 2px rgb(103 156 255 / 70%) !important;
    opacity: 0.2;
    animation: highlight-glow 5s ease-in-out alternate infinite;
  }

  @keyframes highlight-glow {
    50% {
      opacity: 0.6;
    }
  }
}
