/* .bp5-dark .bp5-dialog {
  @apply w-[37.5rem] rounded-md border border-grey-700 bg-grey-800;

  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.76),
    0px 1px 2px 0px rgba(43, 49, 60, 0.24);
}

.bp5-dark .bp5-dialog-header {
  @apply border-b-grey-700 bg-grey-800 p-5 text-base shadow-none;
}

.bp5-input-group {
  @apply rounded-sm bg-grey-700 shadow-none;
}

.bp5-dialog .bp5-input {
  @apply shadow-none placeholder:font-medium placeholder:text-grey-500;
}

.bp5-dark .bp5-dialog .bp5-card-list {
  @apply p-0;
}

.bp5-dark .bp5-dialog .bp5-card-list .bp5-card {
  @apply bg-grey-800 px-4 py-3 shadow-none hover:bg-grey-700;
} */

.bp5-dark .app-dialog,
.bp5-dark .bp5-dialog {
  @apply w-[40rem] rounded-[6px] border border-grey-700 bg-grey-800;

  box-shadow:
    0px 0px 0px 1px rgba(0, 0, 0, 0.76),
    0px 1px 2px 0px rgba(43, 49, 60, 0.24);
}

.bp5-dark .app-dialog .bp5-dialog-header,
.bp5-dark .bp5-dialog-header {
  @apply border-b border-b-grey-700 bg-grey-800 p-0 text-base shadow-none;
}

.bp5-dark .bp5-dialog-header {
  @apply p-5;
}

.bp5-dialog-header .bp5-heading {
  @apply text-base font-bold leading-[1.5];
}

.bp5-dark .app-dialog .bp5-heading {
  @apply mr-0;
}

.app-dialog-content {
  @apply p-5;
}
