.app-input .bp5-input-left-container,
.app-input .bp5-input-action {
  @apply flex h-full items-center px-2 text-content-tertiary transition-colors;
}

.app-input:hover .bp5-input-left-container,
.app-input:hover .bp5-input-action {
  @apply text-content-secondary;
}

.app-select-popover .bp5-input-group {
  @apply text-content-secondary;
}

.app-select-popover .bp5-input-group .bp5-icon {
  @apply !text-content-tertiary;
}

.app-select-popover .bp5-input-group:hover .bp5-icon {
  @apply !text-content-secondary;
}

.app-input,
.app-input .bp5-input,
.app-select-popover .bp5-input {
  @apply rounded-[0.125rem] bg-grey-700 text-sm font-medium leading-[1.43] shadow-none transition-colors;
  @apply hover:bg-grey-600;
}

.app-input .bp5-input,
.app-select-popover .bp5-input {
  @apply text-content-secondary;
}

.app-input .bp5-input:focus,
.app-select-popover .bp5-input:focus {
  box-shadow: 0px 0px 0px 2px rgba(103, 156, 255, 0.4);
}

.app-input,
.app-input .bp5-input::placeholder,
.app-select-popover .bp5-input::placeholder {
  @apply text-content-fourth;
}

.app-input .bp5-input {
  @apply h-9 pr-2;
}

.app-input.app-input--small .bp5-input,
.app-select-popover .bp5-input {
  @apply h-8;
}

