.bp5-dark .app-slider .bp5-slider-label {
  @apply text-content-primary;
}

.bp5-dark .app-slider .bp5-slider-handle .bp5-slider-label {
  @apply bg-primary-900 font-semibold text-content-primary;
}

.bp5-dark .app-slider .bp5-slider-handle {
  @apply bg-content-primary;
}
