@tailwind components;

@layer components {
  .app-tooltip.bp5-dark {
    @apply shadow-none;
  }

  .app-tooltip.bp5-dark .bp5-popover-arrow::before {
    @apply shadow-none;
  }

  .app-tooltip .bp5-popover-content {
    @apply rounded-[0.25rem] bg-grey-600 text-xs font-medium leading-[1.16] tracking-[0.06em] text-white;
  }
}
