@import '@blueprintjs/core/lib/css/blueprint.css';
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';
@import "@blueprintjs/select/lib/css/blueprint-select.css";

@import '@/assets/css/fonts.css';
@import '@/assets/css/buttons.css';
@import '@/assets/css/tooltip.css';
@import '@/assets/css/blueprint-overrides.css';
@import '@/assets/css/dialog.css';
@import '@/assets/css/context-menu.css';
@import '@/assets/css/popover-menu.css';
@import '@/assets/css/form-input.css';
@import '@/assets/css/inputs.css';
@import '@/assets/css/card.css';
@import '@/assets/css/spinner.css';
@import '@/assets/css/select.css';
@import '@/assets/css/slider.css';
@import '@/assets/css/form-group.css';
@import '@/assets/css/checkbox.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 100%;
}

a:hover {
  text-decoration: none;
}

.bp5-dark a {
  @apply text-content-primary;
}

.__________cytoscape_container {
  @apply bg-grey-900;

  background-image: url('/img/backgrounds/visualizer-pattern.png');
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-[1.5625rem] bg-grey-600;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply h-1 w-1;
}

.transaction-scroll::-webkit-scrollbar-track {
  @apply bg-transparent;
}

p {
  @apply m-0;
}

@layer utilities {
  .shadow-sidebar {
    box-shadow:
      0px 0px 0px 1px rgba(0, 0, 0, 0.76),
      0px 1px 2px 0px rgba(43, 49, 60, 0.24);
  }

  .sidebar-item-border {
    @apply border border-grey-600;
    position: relative;
  }

  .sidebar-item-border::after {
    @apply absolute rounded-[4px] border;

    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid;
    border-image-source: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .sidebar-item-bg-gradient {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.06) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .shadow-dark {
    box-shadow:
      0px 0px 0px 1px rgba(0, 0, 0, 0.76),
      0px 1px 2px 0px rgba(43, 49, 60, 0.24);
  }

  .shadow-badge {
    box-shadow:
      0px 0px 0px 1px #13151d,
      0px 0px 0px 2px #272a3a;
  }

  .icon-button-shadow {
    box-shadow:
      0px 0px 0px 1px rgba(0, 0, 0, 0.76),
      0px 1px 2px 0px rgba(43, 49, 60, 0.24);
  }

  .icon-button-bg-gradient {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .icon-button-border {
    border: 1px solid #1f232b;
  }

  .icon-button-border::after {
    @apply absolute rounded-[0.125rem] border;

    content: '';
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid;
    border-image-source: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .icon-button-focus-shadow {
    box-shadow: 0px 0px 0px 2px rgba(103, 156, 255, 0.4);
  }

  .debred {
    @apply border-2 border-red-600
  }

  .debgreen {
    @apply border-2 border-green-600
  }

  .deborange {
    @apply border-2 border-orange-600
  }

  .debblue {
    @apply border-2 border-blue-600
  }
}

