{
    "submission": {
        "project_name":null,
        "dataset": null,
        "prepare": false,
        "biorun": false,
        "subset_list": null,
        "subset_specfic_params": false,
        "libraryprep_run": false,
        "nfcore_run": false,
        "s3sync": true,
        "s3bucket": null,
        "basedir": null,
        "partner": null,
        "nfcore_name": null,
        "submitter_pod": "martina-nf"
    },
    "libraryprep_nf": {
        "samplesheet_name": null,
        "samplesheet_columns": null
    },
    "nf_core": {
        "input": null,
        "outdir": null
    },
    "nfcore_k8s_config" : {
        "k8s" : {
            "namespace" : "martina",
            "computeResourceType" : "Job",
            "storageClaimName" : "nfs-pvc",
            "storageMountPath" : "/scratch"            
        },
        "executor": {
            "name" : "k8s",
            "queueSize" : 15
        },
        "process" : {
            "executor" : "k8s"
        }
    }
    }
