name: Docker Nightly / Release Build

on:
  schedule:
    - cron: "0 2 * * *"   # nightly at 02:00 UTC
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      # Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Determine Docker image tags
      ## this checks if workflow was triggered by git tag push
      - name: Set Docker tags
        id: tags
        run: |
          echo "NIGHTLY_TAG=nightly" >> $GITHUB_ENV
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
          else
            echo "TAG=nightly" >> $GITHUB_ENV
          fi

      # Build and push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            turingdbai/turingdb:${{ env.NIGHTLY_TAG }}
            turingdbai/turingdb:${{ env.TAG }}

      # Test container
      - name: Test Docker image
        run: |
          docker run --rm turingdbai/turingdb:${{ env.TAG }} turingdb --help
