name: CI macOS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 */12 * * *"

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      with:
            # Fetch submodules using the built-in token over HTTPS
            submodules: recursive
            # Ensure credentials are set for submodule fetches
            persist-credentials: true
            # lfs: true # Pull LFS files
            # fetch-depth: 0 # Allegedly enforces a clean pull on each run
    - name: Install uv
      uses: astral-sh/setup-uv@v3
    - name: Install LLVM
      run: |
        brew install llvm
        echo "LLVM_PREFIX=$(brew --prefix llvm)" >> $GITHUB_ENV
    - name: Cache dependencies
      id: cache-dependencies
      uses: actions/cache@v4
      with:
        path: external/dependencies
        key: ${{ runner.os }}-dependencies-${{ hashFiles('dependencies.sh', '.gitmodules') }}
        save-always: true
    - name: Install dependencies
      run: ./dependencies.sh
      env:
        SKIP_BUILD_IF_CACHED: ${{ steps.cache-dependencies.outputs.cache-hit }}
    - name: Configure cmake
      shell: bash
      run: |
        mkdir -p ${{ github.workspace }}/build && cd ${{ github.workspace }}/build
        cmake .. -DCMAKE_C_COMPILER=${{ env.LLVM_PREFIX }}/bin/clang -DCMAKE_CXX_COMPILER=${{ env.LLVM_PREFIX }}/bin/clang++
    - name: Build
      shell: bash
      run: cd ${{ github.workspace }}/build && make -j8 && make install
    - name: Prepare SimpleDB
      shell: bash
      run: cd ${{ github.workspace }}/build/samples/simpledb && ./simpledb && mkdir -p $HOME/.turing/graphs && cp -r simpledb.out/simpledb $HOME/.turing/graphs
    - name: Run unit tests
      shell: bash
      run: cd ${{ github.workspace }}/build && make test
    - name: Run samples
      shell: bash
      run: cd ${{ github.workspace }}/build/turing_install/samples && source ${{ github.workspace }}/setup.sh && bash ./run-samples.sh
    - name: Run regress
      shell: bash
      run: cd ${{ github.workspace }}/build && source ${{ github.workspace }}/setup.sh && make run_regress
