name: CI Ubuntu

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "0 */12 * * *"

jobs:
  build:

    runs-on: ubuntu-latest-m

    steps:
    - uses: actions/checkout@v4
      with:
            # Fetch submodules using the built-in token over HTTPS
            submodules: recursive
            # Ensure credentials are set for submodule fetches
            persist-credentials: true
            # lfs: true # Pull LFS files
            # fetch-depth: 0 # Allegedly enforces a clean pull on each run
    - name: Install uv
      uses: astral-sh/setup-uv@v3
    - name: Cache dependencies
      id: cache-dependencies
      uses: actions/cache@v4
      with:
        path: external/dependencies
        key: ${{ runner.os }}-dependencies-${{ hashFiles('dependencies.sh', '.gitmodules') }}
    - name: Install dependencies
      if: steps.cache-dependencies.outputs.cache-hit != 'true'
      run: ./dependencies.sh
    - name: Install system packages
      if: steps.cache-dependencies.outputs.cache-hit == 'true'
      run: |
        sudo apt-get update
        sudo apt-get install -qqy curl libcurl4-openssl-dev zlib1g-dev libssl-dev
        sudo apt-get install -qqy bison flex libfl-dev
        sudo apt-get install -qqy libopenblas-dev
    - name: Configure cmake
      shell: bash
      run: mkdir -p ${{ github.workspace }}/build && cd ${{ github.workspace }}/build && cmake ..
    - name: Build
      shell: bash
      run: cd ${{ github.workspace }}/build && make -j8 && make install
    - name: Prepare SimpleDB
      shell: bash
      run: cd ${{ github.workspace }}/build/samples/simpledb && ./simpledb && mkdir -p $HOME/.turing/graphs && cp -r simpledb.out/simpledb $HOME/.turing/graphs
    - name: Run unit tests
      shell: bash
      run: cd ${{ github.workspace }}/build && make test
    - name: Run samples
      shell: bash
      run: cd ${{ github.workspace }}/build/turing_install/samples && source ${{ github.workspace }}/setup.sh && bash ./run-samples.sh
    - name: Run regress
      shell: bash
      run: cd ${{ github.workspace }}/build && source ${{ github.workspace }}/setup.sh && make run_regress
