name: CI Ubuntu

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest-m

    steps:
    - uses: actions/checkout@v4
      with:
            # Fetch submodules using the built-in token over HTTPS
            submodules: recursive
            # Ensure credentials are set for submodule fetches
            persist-credentials: true
    - name: Install uv
      uses: astral-sh/setup-uv@v3
    - name: Install dependencies
      run: ./dependencies.sh
    - name: Configure cmake
      shell: bash
      run: mkdir -p ${{ github.workspace }}/build && cd ${{ github.workspace }}/build && cmake ..
    - name: Build
      shell: bash
      run: cd ${{ github.workspace }}/build && make -j8 && make install
    - name: Run unit tests
      shell: bash
      run: cd ${{ github.workspace }}/build && make test
    - name: Run samples
      shell: bash
      run: cd ${{ github.workspace }}/build/turing_install/samples && source ${{ github.workspace }}/setup.sh && bash ./run-samples.sh
    - name: Run regress
      shell: bash
      run: |
        cd ${{ github.workspace }}/build
        source /home/runner/work/turingdb/turingdb/setup.sh
        make run_regress 2> regress_error || {
          cat regress_error
          exit 1
        }
